<link rel="stylesheet" href="/css/starrating.css" />
<link rel="stylesheet" href="/css/buttonstyle.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
/>

<div>

  <form class="submit-review rounded-3 row g-2 m-2 p-2">
    <h2
      class="text-start pt-2 pb-4 border-bottom border-3"
      style="border-color: #283130"
    >Let's hear it!</h2>
    <div class="col-md-12">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control usernameDefault"
        disabled="true"
        data-id="{{reviews.user_id}}"
        value = "{{reviews.user.username}}"
      />
    </div>
    <div class="col-md-12">
      <label for="podcastname" class="form-label">Podcast name</label>
      <input
        name="podcast-select"
        type="text"
        class="form-control"
        disabled="true"
        id="podcast-select"
        data-id="{{reviews.podcast.id}}"
        value = "{{reviews.podcast.name}}"
      >
      </input>
    </div>

    <div class="col-md-12">
      <label for="rating" class="form-label">Rating</label>
      <div class="rating-css">
        <div class="star-icon">
          <input type="radio" name="r" id="r1" value="1" checked="true" />
          <label
            for="r1"
            class="fa fa-headphones-alt bg-white"
            style=""
          ></label>
          <input type="radio" name="r" id="r2" value="2" />
          <label for="r2" class="fa fa-headphones-alt"></label>
          <input type="radio" name="r" id="r3" value="3" />
          <label for="r3" class="fa fa-headphones-alt"></label>
          <input type="radio" name="r" id="r4" value="4" />
          <label for="r4" class="fa fa-headphones-alt"></label>
          <input type="radio" name="r" id="r5" value="5" />
          <label for="r5" class="fa fa-headphones-alt"></label>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="review" class="form-label">Review</label>
      <textarea
        maxlength="200"
        class="form-control"
        id="review"
        name="review"
      ></textarea>
  
    </div>
    <div class="col-12 py-3 text-center ">
      <button
        type="submit"
        class="editReview btn btn-sm btn-dark"
        data-id="{{reviews.id}}"
      >Share it!
      </button>
    </div>
       <div class="col-12 text-center ">
         <button
        type="button"
        class=" deleteReview btn btn-sm btn-danger"
        data-id="{{reviews.id}}"
      >Delete my Review
      </button>
    </div>
    </div>
  </form>
</div>

<script src="/js/viewReviews.js"></script>